.logo {    
    stroke: white;
    fill-opacity: 0;
    stroke-width: 5px;
    stroke-dasharray: 500; /* Ajusta según tu necesidad */
    stroke-dashoffset: 500;
    animation: draw 6s ease forwards;
}
  
@keyframes draw {    
    0% {
        stroke-dashoffset: 500; /* Igual al valor de stroke-dasharray */
        fill-opacity: 0;
        stroke: transparent;
    }
    100% {
        stroke-dashoffset: 0;
        /* fill-opacity: 1; */
        /* stroke: transparent; */
        stroke: #fff;
    }
}

